<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>3</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>~@[</string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>Function Format Sugar</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>drupalformatfunction.php</string>
			<key>setInsertionPoint</key>
			<true/>
			<key>uuid</key>
			<string>2A2A0FDD-46CE-4A1C-A9CF-3EB22583016A</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>~@/</string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>Drupal Doc Block</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>drupaldocblock.php</string>
			<key>setInsertionPoint</key>
			<true/>
			<key>uuid</key>
			<string>B1FDD1B9-209C-482C-92B2-3D4C716D922F</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>~@r</string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>Associative Array</string>
			<key>output</key>
			<string>afterSelectedText</string>
			<key>script</key>
			<string>associativearray.php</string>
			<key>setInsertionPoint</key>
			<false/>
			<key>uuid</key>
			<string>39C8C2EE-F7CC-4B2A-B688-2A91741A8D97</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>$~@r</string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>Nested Array</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>nestedarray.php</string>
			<key>setInsertionPoint</key>
			<true/>
			<key>uuid</key>
			<string>CCA4EAD1-2218-4ED5-9D98-D9258C0DBF98</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>~@4</string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>Drupal File Block</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>drupalfileblock.php</string>
			<key>uuid</key>
			<string>6571391C-9E66-463B-BA2C-D9F78397BD7F</string>
		</dict>
	</array>
</dict>
</plist>
